h1 {
	color: red;
	text-align:center;
	font-size: 60px;
}

h2 {
	font-weight: 400;
	font-style: italic;
	text-align: center;
}

p {
	font-family: sans-serif;
}

ul {
	font-size: 20px;
	line-height: 30px;
}

img {
	margin: auto;
	
}