h1{
	font-size: 60px;
	font-family:Arial, Helvetica, sans-serif;
	color: wheat;
	align-items: center;

}

body{
	background-color: forestgreen;
}
ul{
	align-items:right;
}
li{
	margin-right: 50%;
	align-items:center;
	margin: auto;
}
img{
	margin: auto;
	width: 30%;
	height: auto;
	float: center;
	box-sizing: border-box;
}